body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  flex-grow: 0;
  font-weight: 900;
  font-size: 32px;
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.sidebar {
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding-right: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-basis: 275px;
  height: 275px;
  padding: 10px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

ul{
  list-style: none;
}

a{
  font-size: 24px;
  text-decoration: none;
  color: white;
}